# CAP painteroids
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
package-lock.json
target/

# Web IDE, App Studi
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log
